<a href="https://colab.research.google.com/github/mindyng/Elements_of_DS/blob/master/Copy_of_05_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

Elements of Data Science

by [Allen Downey](https://allendowney.com)

[MIT License](https://opensource.org/licenses/MIT)

### Goals

In the previous notebook we used a `for` loop to read a file and count the words.  In this notebook, you'll learn about a new type called a "dictionary", and we will use it to count the number of unique words and the number of times each one appears.

Along the way, you will also see how to use an index to select an element from a sequence (tuple, list, or array).  And you will learn a little about Unicode, which is used to represent letters, numbers, and punctuation for almost every language in the world.

## Indexing

Suppose you have a variable named `t` that refers to a list or tuple.
You can select an element using the bracket operator, `[]`.  

For example, here's a tuple of strings:

In [0]:
t = 'zero', 'one', 'two'

To select the first element, we put `0` in brackets:

In [0]:
t[0]

'zero'

To select the second element, we put `1` in brackets:

In [0]:
t[1]

'one'


To select the third element, we put `2` in brackets:

In [0]:
t[2]

'two'

The number in brackets is called an "index" because it indicates which element we want.

Tuples and lists use [zero-based numbering](https://en.wikipedia.org/wiki/Zero-based_numbering); that is, the index of the first element is 0.  Some other programming languages use one-based numbering.  There are pros and cons of both systems.

The index in brackets can also be a variable:

In [0]:
i = 1
t[i]

'one'

Or an expression with variables, values, and operators:

In [0]:
t[i+1]

'two'

But if the index goes past the end of the list or tuple, you get an error:

In [0]:
t[3]

IndexError: ignored

The index has to be an integer; if it is any other type, you get an error.

In [0]:
t[1.5]

TypeError: ignored

In [0]:
t['index']

TypeError: ignored

**Exercise:** You can use negative integers as indices.  Try using `-1` and `-2` as indices, and see if you can figure out what they do.

In [0]:
t[-1]

'two'

In [0]:
t[-2]

'one'

## Dictionaries

A dictionary is similar to a tuple or list, but in a dictionary, the index can be almost any type, not just an integer.

We can create an empty dictionary like this:

In [0]:
d = {}

Then we can add elements like this:

In [0]:
d['one'] = 1
d['two'] = 2

If you display the dictionary, it shows each index and the corresponding value.

In [0]:
d

{'one': 1, 'two': 2}

Instead of creating an empty dictionary and then adding elements, you can create a dictionary and specify the elements at the same time:

In [0]:
d = {'one': 1, 'two': 2, 'three': 3}
d

{'one': 1, 'three': 3, 'two': 2}

When we are talking about dictionaries, an index is usually called a "key".  In this example, the keys are strings and the corresponding values are integers.

A dictionary is also called a "map", because it represents a mapping, in the sense of a correspondence, between keys and values.  So we might say that this dictionary "maps from" English number names to the corresponding integers.

You can use the bracket operator to select an element from a dictionary, like this:

In [0]:
d['two']

2

But don't forget the quotation marks.  If you write something like this:

In [0]:
d[two]

NameError: ignored

Python looks for a variable named `two` and doesn't find one.

To check whether a particular key is in a dictionary, you can use the special word `in`:

In [0]:
'one' in d

True

In [0]:
'zero' in d

False

The word `in` is actually an operator in Python, so you can't use it as a variable name:

In [0]:
in = 5

SyntaxError: ignored

If a key is already in a dictionary, adding it again has no effect:

In [0]:
d

{'one': 1, 'three': 3, 'two': 2}

In [0]:
d['one'] = 1
d

{'one': 1, 'three': 3, 'two': 2}

But you can also change the value associated with a key:

In [0]:
d['one'] = 100
d

{'one': 100, 'three': 3, 'two': 2}

You can loop through the keys in a dictionary like this:

In [0]:
for key in d:
    print(key)

one
two
three

If you want the keys and the values, a simple way to get them is to loop through the keys and look up the values:

In [0]:
for key in d:
    print(key, d[key])

one 100
two 2
three 3

Or you can loop through both at the same time, like this:

In [0]:
for key, value in d.items():
    print(key, value)

one 100
two 2
three 3

The `items` method loops through the key-value pairs in the dictionary; each time through the loop, they are assigned to `key` and `value`.

**Exercise:** Make a dictionary with the numbers `1`, `2`, and `3` as keys and strings as values.  The strings should be the numbers "one", "two", and "three" in any language you know.

Write a loop that prints just the values from the dictionary.

In [0]:
d2 = {1:'yat', 2:'yee', 3:'sam'}
d2

{1: 'yat', 2: 'yee', 3: 'sam'}

In [0]:
for key in d2:
  print(d2[key])

yat
yee
sam

## Unique words

In the previous notebook we downloaded *War and Peace* from [Project Gutenberg](https://www.gutenberg.org) and counted the number of lines and words.

Now that we have dictionaries, we can also count the number of unique words and the number of times each one appears.

First, let's download the book again.  If you run the following cell, it checks to see whether you already have a file named `2600-0.txt`; if not, it uses `wget` to copy the file from Project Gutenberg to your computer.

In [0]:
import os

if not os.path.exists('2600-0.txt'):
    !wget https://www.gutenberg.org/files/2600/2600-0.txt

--2020-01-28 18:27:41--  https://www.gutenberg.org/files/2600/2600-0.txt
Resolving www.gutenberg.org (www.gutenberg.org)... 152.19.134.47, 2610:28:3090:3000:0:bad:cafe:47
Connecting to www.gutenberg.org (www.gutenberg.org)|152.19.134.47|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3359549 (3.2M) [text/plain]
Saving to: ‘2600-0.txt’

2600-0.txt          100%[===================>]   3.20M  1.09MB/s    in 2.9s

2020-01-28 18:27:45 (1.09 MB/s) - ‘2600-0.txt’ saved [3359549/3359549]

Now we can read the file and count the words as we did in the previous notebook:

In [0]:
fp = open('2600-0.txt')
count = 0
for line in fp:
    count += len(line.split())
    
count

566311

To count the number of unique words, I'll loop through the words in each line and add as keys in a dictionary:

In [0]:
fp = open('2600-0.txt')
unique_words = {}
for line in fp:
    for word in line.split():
        unique_words[word] = 1

This is the first example we've seen with one loop inside another.

* The outer loop runs through the lines in the file.

* The inner loops runs through the words in each line.

Each time through the inner loop, we add a word as a key in the dictionary, with the value 1.  If the same word appears more than once, it gets added to the dictionary again, which has no effect.  So the dictionary contains only one copy of each unique word in the file.

At the end of the loop, we can display the first 10 keys:

In [0]:
i = 0
for key in unique_words:
    print(key)
    i += 1
    if i == 10:
        break

﻿
The
Project
Gutenberg
EBook
of
War
and
Peace,
by

So far, it looks like all the words in the file, in order.

But each word only appears once, so the number of keys is the number of unique words:

In [0]:
len(unique_words)

41993

It looks like there are about 42,000 different words in the book, which is substantially less than the total number of words, about 560,000. 

But that's not quite right, because we have not taken into account capitalization and punctuation.

**Exercise:** Before we deal with those problems, let's practice with "nested loops", that is, one loop inside another.

Suppose you have a list of words, like this:

In [0]:
line = ['War', 'and', 'Peace']

Write a nested loop that iterates through each word in the list, and each letter in each word, and prints the letters on separate lines.

In [0]:
for word in line:
  for letter in word:
    print(letter)

W
a
r
a
n
d
P
e
a
c
e

## Capitalization

When we count unique words, we probably want to treat `The` and `the` as the same word.  We can do that by converting all words to lower case, using the `lower` function:

In [0]:
word = 'The'
word.lower()

'the'

In [0]:
word = 'the'
word.lower()

'the'

`lower` creates a new string; it does not modify the original string.

In [0]:
word = 'THE'
word.lower()

'the'

In [0]:
word

'THE'

However, you can assign the new string back to the existing variable, like this:

In [0]:
word = 'THE'
word = word.lower()

Now if we can display the new value of `word`, we get the lowercase version:

In [0]:
word

'the'

**Exercise:** Modify the previous loop so it makes a lowercase version of each word before adding it to the dictionary.  How many unique words are there, if we ignore the difference between uppercase and lowercase?

In [0]:
fp = open('2600-0.txt')
unique_words = {}
for line in fp:
    for word in line.split():
        word = word.lower()
        unique_words[word] = 1

In [0]:
len(unique_words) #as expected, this has decreased in value since words that are the same but capitalized merged with non-capitalized words to create 1 count of the same word

40132

## Punctuation

To remove punctuation from the words, we can use `strip`, which removes specified characters from the beginning and end of a string.  Here's an example:

In [0]:
word = 'abracadabra'
word.strip('ab')

'racadabr'

In this example, `strip` removes all instances of `a` and `b` from the beginning and end of the word, but not from the middle.

But note that it makes a new word; it doesn't modify the original:

In [0]:
word

'abracadabra'

To remove punctuation, we can use the `string` library, which provides a variable named `punctuation`.

In [0]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

`string.punctuation` contains the most common punctuation marks, but as we'll see, not all of them.

Nevertheless, we can use it to handle most cases.  Here's an example:

In [0]:
line = "It's not given to people to judge what's right or wrong."

for word in line.split():
    word = word.strip(string.punctuation)
    print(word) #output still has apostrophe's...

It's
not
given
to
people
to
judge
what's
right
or
wrong

Notice that `strip` does not remove the apostrophe from the middle of `don't`, which is probably what we want.

To see how well it works, I'll select an arbitrary line from the file:

In [0]:
fp = open('2600-0.txt')
count = 0
for line in fp:
    if count == 1000:
        break
    count += 1
    
line

'anyone, and so you don’t deserve to have them.”\n'

And try to remove punctuation from the words:

In [0]:
for word in line.split():
    word = word.strip(string.punctuation)
    print(word)

anyone
and
so
you
don’t
deserve
to
have
them.”

It words pretty well, but the last word is a problem because it ends with a quotation mark that is not in `string.punctuation`.  To fix this problem, we'll use the following loop, which

1. Reads the file and builds a dictionary that contains all punctuation marks that appear in the book, then

2. It uses the `join` function to concatenate the keys of the dictionary in a single string.

You don't have to understand everything about how it works, but you should read it and see how much you can figure out.  You can read [the documentation of the `unicodedata` library here](https://docs.python.org/3/library/unicodedata.html).

In [0]:
import unicodedata

fp = open('2600-0.txt')
punc_marks = {}
for line in fp:
    for x in line:
        category = unicodedata.category(x)
        if category[0] == 'P':
            punc_marks[x] = 1
        
all_punctuation = ''.join(punc_marks)
print(all_punctuation)

,.-:[#]*/“’—‘!?”;()%@

**Exercise:** Modify the word-counting loop from the previous section to convert words to lower case *and* strip punctuation before adding them to the dictionary.  Now how many unique words are there?

Optional: You might want to skip over the frontmatter and start with the text of Chapter 1, and skip over the license at the end, as we did in the previous notebook.

In [0]:
first_line = "CHAPTER I\n"
last_line = "End of the Project Gutenberg EBook of War and Peace, by Leo Tolstoy\n"

fp = open('2600-0.txt')

for line in fp:
    if line == first_line:
        break

unique_words = {}
#count = 0
for line in fp:
    for word in line.split():
        word = word.lower() 
        word = word.strip(all_punctuation)
        unique_words[word] = 1 
    
    
    if line == last_line:
        break

In [0]:
count = 0
for k,v in unique_words.items():
  print(k,v)
  if count == 10:
    break
  count+=1

well 1
prince 1
so 1
genoa 1
and 1
lucca 1
are 1
now 1
just 1
family 1
estates 1

## Word frequencies

In the previous section we counted the number of unique words, but we might also want to know how often each word appears.  Then we can find the most common and least common words in the book.

To count the frequency of each word, we'll make a dictionary that maps from each word to the number of times it appears.

Here's an example that loops through a string and counts the number of times each letter appears.

In [0]:
line = 'If everyone fought for their own convictions there would be no war.'

letter_counts = {}
for x in line:
    if x in letter_counts:
        letter_counts[x] += 1
    else:
        letter_counts[x] = 1
        
letter_counts

{' ': 11,
 '.': 1,
 'I': 1,
 'a': 1,
 'b': 1,
 'c': 2,
 'd': 1,
 'e': 7,
 'f': 3,
 'g': 1,
 'h': 3,
 'i': 3,
 'l': 1,
 'n': 5,
 'o': 8,
 'r': 5,
 's': 1,
 't': 4,
 'u': 2,
 'v': 2,
 'w': 3,
 'y': 1}

The `if` statement in the previous example uses a feature we have not seen before, an `else` clause.

Here's how it works.

1. First, it checks whether the letter is already a key in the dictionary, `letter_counts`.

2. If so, it runs the first statement, `letter_counts[x] += 1`, which increments the value associated with the letter, `x`.

3. Otherwise, it runs the second statement, `letter_counts[x] = 1`, which adds `x` as a new key, with the value `1` indicating that we have seen the new letter once.

The result is a dictionary that maps from each letter to the number of times it appears.

To get the most common letters, we can use a `Counter`, which is similar to a dictionary.  To use it, we have to import a library called `collections`:

In [0]:
import collections

Then we use `collections.Counter` as a function to convert the dictionary to a `Counter` value:

In [0]:
counter = collections.Counter(letter_counts)
type(counter)

collections.Counter

`Counter` provides a function called `most_common` we can use to get the most common characters:

In [0]:
counter.most_common(3)

[(' ', 11), ('o', 8), ('e', 7)]

The result is a list of tuples, where each tuple contains a character and an integer.

The most common character is a space, followed by `o` and `e`.

**Exercise:** Modify the loop from the previous exercise to count the frequency of the words in *War and Peace*; then print the 20 most common words and the number of times each one appears.

In [0]:
fp = open('2600-0.txt')

letter_counts = {}
for line in fp:

  
  for word in line.split():
    word = word.lower() 
    word = word.strip(all_punctuation)
    if word in letter_counts:
      letter_counts[word] += 1
    else:
      letter_counts[word] = 1

letter_counts

counter = collections.Counter(letter_counts)
counter.most_common(20)

[('the', 34563),
 ('and', 22151),
 ('to', 16709),
 ('of', 14989),
 ('a', 10494),
 ('he', 9811),
 ('in', 8927),
 ('his', 7965),
 ('that', 7806),
 ('was', 7328),
 ('with', 5694),
 ('had', 5354),
 ('it', 5179),
 ('her', 4697),
 ('not', 4658),
 ('him', 4571),
 ('at', 4535),
 ('i', 4106),
 ('but', 4012),
 ('on', 3996)]

**Exercise:** You can run `most_common` with no value in parentheses, like this:

```
word_freq_pairs = counter.most_common()
```

The result is a list of tuples, with one tuple for every unique word in the book.  Assign the result to a variable so it doesn't get displayed.  Then answer the following questions:

1. How many times does the #1 ranked word appear (that is, the first element of the list)?

2. How many times does the #10 ranked word appear?

3. How many times does the #100 ranked word appear?

4. How many times does the #1000 ranked word appear?

5. How many times does the #10000 ranked word appear?

Do you see a pattern in the results?  We will explore this pattern more in the next notebook.

In [0]:
word_freq_pairs = counter.most_common()

In [0]:
# Solution #1
word_freq_pairs[0]

('the', 34563)

In [0]:
# Solution #2
word_freq_pairs[9]

('was', 7328)

In [0]:
# Solution #3
word_freq_pairs[99]

('came', 681)

In [0]:
# Solution #4
word_freq_pairs[999]

('tall', 59)

In [0]:
# Solution #5
word_freq_pairs[9999]

('iss', 2)

**Exercise:** Write a loop that counts how many words appear 200 times.  What are they?  How many words appear 100 times, 50 times, and 20 times?

**Optional:** If you know how to define a function, write a function that takes a `Counter` and a frequency as arguments, prints all words with that frequency, and returns the number of words with that frequency.

In [0]:
test = word_freq_pairs[:5]
test

[('the', 34563), ('and', 22151), ('to', 16709), ('of', 14989), ('a', 10494)]

In [0]:
for i in test:
  print(i[1])

34563
22151
16709
14989
10494

In [0]:
# Solution goes here
fp = open('2600-0.txt')

letter_counts = {}
for line in fp:

  
  for word in line.split():
    word = word.lower() 
    word = word.strip(all_punctuation)
    if word in letter_counts:
      letter_counts[word] += 1
    else:
      letter_counts[word] = 1

letter_counts

counter = collections.Counter(letter_counts)
word_freq_pairs = counter.most_common()


count_200 = 0
count_100 = 0
count_50 = 0
count_20 = 0

list_200 = []
list_100 = []
list_50 = []
list_20 = []




for i in word_freq_pairs:
  if i[1] == 200:
    count_200 += 1
    list_200.append(i[0])
  if i[1] == 100:
    count_100 += 1
    list_100.append(i[0])
  if i[1] == 50:
    count_50 += 1
    list_50.append(i[0])
  if i[1] == 20:
    count_20 += 1
    list_20.append(i[0])
# for each freq, need count of freq and words of that freq
final_count = []
final_count.append(count_200)
final_count.append(count_100)
final_count.append(count_50)
final_count.append(count_20)

final_words = []
final_words.append(list_200)
final_words.append(list_100)
final_words.append(list_50)
final_words.append(list_20)

dictionary = dict(zip(final_count, final_words))
dictionary

{1: ['orders'],
 10: ['project',
  'decided',
  'child',
  'country',
  'however',
  'run',
  'aim',
  'ought',
  'captain',
  'guns'],
 16: ['king',
  'mentioned',
  'gesture',
  'relation',
  'nose',
  'wine',
  'shouts',
  'loud',
  'common',
  'interests',
  'purpose',
  'journey',
  'darkness',
  'division',
  'burned',
  'austerlitz'],
 86: ['alexander’s',
  'education',
  'revealed',
  'samovar',
  'altered',
  'merrily',
  'george',
  'powerful',
  'affectionate',
  'sons',
  'drop',
  'reward',
  'fled',
  'signs',
  'shawl',
  'gently',
  'woman’s',
  'husband’s',
  'gossip',
  'qualities',
  'glasses',
  'respected',
  'seize',
  'he’ll',
  'forgot',
  'conversations',
  'ivánovna',
  'failed',
  'pávlograd',
  'vanished',
  'examined',
  'pair',
  'upset',
  'coldly',
  'inquiry',
  'support',
  'exchanged',
  'nowhere',
  'band',
  'thrust',
  'resolution',
  'request',
  'pose',
  'maneuvers',
  'pieces',
  'risen',
  'pillow',
  'problem',
  'pure',
  'eternal',
  'sleeping',
  'attacking',
  'european',
  'tranquil',
  'coach',
  'smart',
  'win',
  'aid',
  'encounter',
  'dragging',
  'ear',
  'scoundrel',
  'confirmed',
  'heights',
  'roar',
  'yards',
  'inevitably',
  'losses',
  'transport',
  'theater',
  'enemies',
  'mild',
  'bodies',
  'arrangements',
  'proclamation',
  'cries',
  'militiamen',
  'nephew',
  'drops',
  'niemen',
  'numbers',
  'balagá',
  'hive',
  'michaud',
  'vyázma',
  'flèches']}

In [0]:
#Optional: If you know how to define a function, write a function that takes a Counter and a frequency as arguments, 
#prints all words with that frequency, and returns the number of words with that frequency.


def freq_info(counter2, freq):

  word_freq_pairs = counter2.most_common()

  count_freq = 0
  list_freq = []

  for i in word_freq_pairs:
    if i[1] == freq:
      count_freq += 1
      list_freq.append(i[0])


  final_count = []
  final_count.append(count_freq)


  dictionary = dict(zip(final_count, list_freq))
  return dictionary

freq_info(counter, 200)

{1: 'orders'}